---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@2.0.4
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  dokken:
    runs-on: ubuntu-latest
    needs: lint-unit
    strategy:
      matrix:
        os:
          - "amazonlinux-2"
          - "centos-7"
          - "centos-8"
          - "debian-9"
          - "debian-10"
          - "ubuntu-1604"
          - "ubuntu-1804"
          - "ubuntu-2004"
        suite:
          - "default"
      fail-fast: false

    steps:
      - name: Check out cookbook code
        uses: actions/checkout@v3
      - name: Install Chef Infra Client
        uses: actionshub/chef-install@master
      - name: Dokken
        uses: actionshub/test-kitchen@2.1.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
